$theme-colors: (
    "info": tomato,
    "danger": teal
);

$body-bg: #fff;

$theme-colors: (
    "primary": #036A32,
    "danger": #ff4136,
    "secondary":#FFC314
);


$enable-shadows: true;
$input-bg: gray;
$input-color: #036A32;
// These are the defaults, but you can override any values
$font-family-sans-serif: "Josefin Sans", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;


@import "~bootstrap/scss/bootstrap";


:root {
    --amplify-primary-color: #036A32;
    --amplify-primary-tint: #3f6060;
    --amplify-primary-shade: #FFC314;
    --amplify-background-color: black;
}

.navbar-brand,
.navbar-brand .navbar-brand.active,
.navbar-brand:hover {
    color: #036A32,
}

.nav-link,
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: #FFC314
}

.navbar-nav .nav-link.active {
    color: white
}


.active {
    color: #FFC314
}




input[type="text"],
input[type="date"] select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus,
input[type="date"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
}

input[type="text"],
input[type="date"],
select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}